<!-- father.component.html -->
<div style="padding: 20px;">
  <nz-card nzTitle="Jefe:">
    <div class="borderVariables">
      <div>Variable del Padre:</div>
      <div>parentMessageInput</div>
      <div>childMessageEventOutput</div>
    </div>
    <div class="border">Hijo usando &#64;Output: <h3>{{ childMessageEventOutput }}</h3></div>
    <app-child [parentMessageInput]="parentMessageInput" (childMessageEventOutput)="receiveMessage($event)">
      <div class="border">Padre usando &#64;ContentChild: <h3>Por este medio voy ha
        enviarte el informe(HTML escrito en el Padre) con el fin que el jefe pueda verificarlo </h3></div>
    </app-child>

  </nz-card>
</div>
